@*
* This file is part of the Nextbeat services.
*
* For the full copyright and license information,
* please view the LICENSE file that was distributed with this source code.
*@

@import controllers.routes.Assets

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src=@Assets.versioned("app/main.js")></script>
<script>
  function scrollToAnker(hash) {
    var target = $(hash);
    if (target.length > 0) {
      var position = target.offset().top - 80;
      $('body,html').stop().animate({ scrollTop: position }, 500);
    }
  }
</script>

<script>
function checkFunc(name, organization_id, ischecked) {
    if(ischecked == true){
        make_hidden(name+".organization_id", organization_id)
    }else{
        delete_hidden(name+".organization_id")
    }

     console.log("You have bought "+organization_id);
}

function make_hidden(name, value){
    var q = document.createElement('input');
    q.type = 'hidden';
    q.name = name;
    q.value = value;
    q.id = name;
    document.forms[1].appendChild(q);
    console.log("add!!!! ");
}

function delete_hidden(name){
    element = document.getElementById(name);
    console.log(element)
    element.parentNode.removeChild(element)
}


/* facility一覧でのsearchの場合とlistの場合を判断 */
function movePageForFacilityList(pageUrl){
  var e = document.getElementById("locationId");
  var locationId = e.options[e.selectedIndex].value;
  var route = /facility/;
  if(locationId == ""){
    /* list */
    route = route + "list?";
    window.location.href = route + pageUrl;
  }else{
    /* search */
    route = route + "search?"
    window.location.href = route + pageUrl + "&locationId=" + locationId;
  }

}

</script>
